*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(51, 51, 51);
}


.choice-container{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-btn{
    position: relative;
    top: 300px;
    z-index: 10;
    margin: 3%;
    padding: 30px 60px;
    border: none;
    border-radius: 15px;
    color: rgb(255, 215, 0);
    background-color: rgba(30, 30, 30, 0.5);
    font-family: "Quicksand", sans-serif;
    user-select: none;
    font-size: 150%;
    cursor: pointer;
    transition: 
    box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), 
    background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    top 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.choice-btn:hover{
    box-shadow: 0 0 10px rgb(210, 200, 0);
    background-color: rgba(220,215, 0, 0.5);
}


.return-btn{
    position: relative;
    z-index: 10;
    display: none;
    transform: scale(0);
    padding: 30px 60px;
    border: none;
    margin: 3%;
    border-radius: 15px;
    color: rgb(255, 215, 0);
    background-color: rgba(30, 30, 30, 0.5);
    font-family: "Quicksand", sans-serif;
    user-select: none;
    font-size: 150%;
    cursor: pointer;
    transition: 
    box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), 
    background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.return-btn:hover{
    box-shadow: 0 0 10px rgb(210, 200, 0);
    background-color: rgba(220,215, 0, 0.5);
    z-index: 11;
}


.days-container{
    display: none;
    justify-content: space-around;
    align-items: center;
}





.non-clicked *{
    pointer-events: none;
}


.days-style{
    position: relative;
    z-index: 10;
    background-color: rgb(63, 61, 61);
    min-height: 400px;
    opacity: 0;
    padding: 0 20px 20px 20px;
    margin: 5px;
    border-radius: 20px;
    pointer-events: none;
    /* cursor: pointer; */
    transition: 
    box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}



/* .show-days-style{
    opacity: 1;

} */

.choosed-card{
    transform: scale(1.1);
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.days-style:hover{
    box-shadow: 0 0 15px rgba(220,215, 0, 0.5);
    background-color: rgba(63 61 61 / 0.1);
    transform: scale(1.05);
    z-index: 11;
}



.days-title-style{
    position: relative;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0 10px 0;
    color: rgba(23,21,21, 0.6);
    user-select: none;
}

.days-style hr{
    margin: 0 10px 0 10px;
}


.days-list-style{
    margin: 20px 0 0 0;
    list-style-type: none;
    text-align: center;
}


.days-list-style li{
    font-family: "Quicksand", sans-serif;
    margin: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    user-select: none;
}

.days-list-style li:hover{
    background-color: red;
}



.input-container{
    display: flex;
    flex-direction: column;
}

.text-input-task{
    border: none;
    border-radius: 15px;
    background: rgb(113,113,115);
    background: linear-gradient(90deg, rgba(113,113,115,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    margin: 20px 0 0 0;
    padding: 10px 0 10px 0;
    color: white;
}

.input-remove-buttons{
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: rgba(30, 30, 30, 0.5);
    color: white;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: 
    margin-left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    margin-right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.button-add-task{
    margin: 15px 10px;
}

.button-remove-task{
    margin: 5px 10px;
}

.input-remove-buttons:hover{
    transform: scale(1.05);
}

.claimed-day{
    transform: scale(1.05);
}


.reset-btn{
    position: relative;
    top: 300px;
    z-index: 10;
    margin: 3%;
    padding: 30px 60px;
    border: none;
    border-radius: 15px;
    color: rgb(255, 215, 0);
    background-color: rgba(30, 30, 30, 0.5);
    font-family: "Quicksand", sans-serif;
    user-select: none;
    font-size: 150%;
    cursor: pointer;
    transition: 
    box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), 
    background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    top 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button-clear-tasks{
    visibility: visible;
}